{% extends 'nileblog/base.html' %}
{% block content %}
{% load humanize %}
    <h1></h1>
      
        {% if latest %}        
                <div class="list-group mx-auto " style="margin-top:90px;">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Home</li>
                    </ol>
                    {% for article in latest %}      
                    <a href="{% url 'nileblog:detail' article.id %}" class="list-group-item border border-dark list-group-item-action flex-column align-items-start active my-1">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{article.title_text}}</h5>
                            
                        </div>
                        <p class="mb-1">{{article.preview_text}}</p>
                        <hr/>
                        <span class="mx-1">
                            <i class="fa-regular fa-thumbs-up"></i>
                            {{article.upvote}}
                        </span>
                        <span class="mx-1">
                            <i class="fa-regular fa-thumbs-down"></i>
                            {{article.upvote}}
                        </span>
                        <small class="mx-2">                              
                            {{ article.pub_date | date }}                               
                        </small>
                    </a>          
        {% endfor %}
        {% include 'nileblog/subscription_form.html' %}
    {% else %}
        <h3>No Articles</h3>
    {% endif %}
    
    
{% endblock content %}