{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
        <link href="{% static 'nileblog/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'nileblog/css/style.css' %}" rel="stylesheet">
    </head>
    <body>      
        <!---------------------- NAVBAR ------------------>
        {% include 'nileblog/navbar.html' %}   
        <!---------------------- ENDNAVBAR---------------->
        <div class="container-fluid">              
            {% block content %} 
         
            {% endblock content %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>       
    </body>
</html>