<div class="container">   
  
    <form>
        <fieldset class=" mt-4">
        <legend>Leave a Comment</legend>
        <div>
            <label for="inputFullname" class="form-label mt-1">Fullname</label>
            <input type="text" class="form-control" id="inputFullname" placeholder="Enter Fullname">       
        </div>
        <div>
            <label for="exampleInputEmail1" class="form-label mt-2">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        
        <div>
            <label for="article-comment" class="form-label mt-2">Comment</label>
            <textarea class="form-control" id="article-comment" rows="3"></textarea>
        </div>    
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </fieldset>
    </form>
   
</div>