{% load static %}
<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid">
      <a class="navbar-brand px-2" href="#">
        <img src="{% static "nileblog/img/nb.jpg" %}" alt="Avatar Logo" style="width:60px;" class="border border-dark rounded-circle"> 
        Nile Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-lg-flex justify-content-center" id="navbarColor03">
        <ul class="navbar-nav ">
          <li class="nav-item">            
            <a class="nav-link active " href="#">
                <i class="fa-solid fa-house px-2"></i>
                <span class="px-3">Home</span> 
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#"><span class="px-2">Features</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="px-2">Pricing</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="px-2">About</span></a>
          </li>          
        </ul>
        {% comment %} <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> {% endcomment %}
      </div>
    </div>
  </nav>